<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yayatotaxi">


    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ico_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ico_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".activity.SplashAct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.LoginAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ForgotPassAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.SignUpAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.VerifyAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.TermsConditionAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.HomeAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.UpdateProfielAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>



        <activity android:name=".activity.NormalBookHomeAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.CarPoolHomeAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.SetDateTimeAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.RideOptionAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.TrackAct"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yayatotaxi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--   <meta-data
               android:name="com.google.android.maps.v2.API_KEY"
               android:value="@string/api_key" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />



    </application>

</manifest>